In [1]:
import pandas as pd

In [8]:

# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'

url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow//yellow_tripdata_2021-01.csv.gz'

In [9]:
df = pd.read_csv(url)

/tmp/ipykernel_43071/4176769558.py:1: DtypeWarning: Columns (0: store_and_fwd_flag) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [10]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
# Check data types
df.dtypes

# Check data shape
df.shape

(1369765, 18)

In [12]:
df.dtypes

VendorID                 float64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [13]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [14]:
len (df)

1369765

In [16]:
df['VendorID']

0             1
1             1
2             1
3             1
4             2
           ...
1369760    <NA>
1369761    <NA>
1369762    <NA>
1369763    <NA>
1369764    <NA>
Name: VendorID, Length: 1369765, dtype: Int64

In [17]:
df['tpep_pickup_datetime']

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[us]

In [18]:
uv add sqlalchemy "psycopg[binary,pool]"

/workspaces/DE-docker-workshop/.venv/bin/python3: No module named uv
Note: you may need to restart the kernel to use updated packages.

In [19]:
#!uv add sqlalchemy "psycopg[binary,pool]"

Resolved 119 packages in 370ms
Prepared 4 packages in 154ms
░░░░░░░░░░░░░░░░░░░░ [0/4] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 4 packages in 62ms
 + greenlet==3.3.1
 + psycopg-binary==3.3.2
 + psycopg-pool==3.3.0
 + sqlalchemy==2.0.46

In [20]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [25]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists = 'replace')
#df.to_sql(name='yellow_taxi_data', con=engine))

0

In [53]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [54]:
for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765

In [31]:
#df = next(df_iter)

In [32]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
300000,2,2021-01-08 21:57:23,2021-01-08 21:57:32,1,0.01,5,N,255,255,1,30.0,0.0,0.0,4.00,0.00,0.3,34.30,0.0
300001,2,2021-01-08 21:28:00,2021-01-08 21:46:38,1,11.74,1,N,194,95,1,32.0,0.5,0.5,7.88,6.12,0.3,47.30,0.0
300002,2,2021-01-08 21:29:09,2021-01-08 21:36:33,3,1.75,1,N,142,141,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5
300003,2,2021-01-08 21:46:10,2021-01-08 22:07:13,2,8.67,1,N,262,18,1,26.5,0.5,0.5,7.58,0.00,0.3,37.88,2.5
300004,1,2021-01-08 21:16:46,2021-01-08 21:20:29,1,0.90,1,N,168,69,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2,2021-01-11 17:03:58,2021-01-11 17:08:23,1,1.08,1,N,162,107,1,5.5,1.0,0.5,1.00,0.00,0.3,10.80,2.5
399996,1,2021-01-11 17:09:26,2021-01-11 17:31:25,1,4.70,1,N,239,234,1,18.5,3.5,0.5,4.55,0.00,0.3,27.35,2.5
399997,1,2021-01-11 17:46:24,2021-01-11 17:54:11,1,1.10,1,N,161,233,2,7.0,3.5,0.5,0.00,0.00,0.3,11.30,2.5
399998,2,2021-01-11 17:31:45,2021-01-11 17:48:09,1,3.16,1,N,161,45,1,13.0,1.0,0.5,3.46,0.00,0.3,20.76,2.5
399999,2,2021-01-11 17:51:49,2021-01-11 17:59:38,1,1.55,1,N,144,4,2,7.5,1.0,0.5,0.00,0.00,0.3,11.80,2.5

In [49]:
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

-1

In [35]:
!uv add tqdm

Resolved 120 packages in 398ms
Prepared 1 package in 18ms
░░░░░░░░░░░░░░░░░░░░ [0/1] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 1 package in 5ms
 + tqdm==4.67.3

In [40]:
from tqdm.auto import tqdm

for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [38]:
df_chunk.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,<NA>,2021-01-05 10:38:40,2021-01-05 10:46:20,<NA>,1.30,<NA>,<NA>,170,161,<NA>,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1300001,<NA>,2021-01-05 10:17:14,2021-01-05 10:41:21,<NA>,7.90,<NA>,<NA>,216,198,<NA>,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
1300002,<NA>,2021-01-05 10:39:00,2021-01-05 10:46:00,<NA>,0.98,<NA>,<NA>,62,62,<NA>,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
1300003,<NA>,2021-01-05 10:05:00,2021-01-05 10:19:00,<NA>,1.59,<NA>,<NA>,85,71,<NA>,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
1300004,<NA>,2021-01-05 10:18:08,2021-01-05 10:41:40,<NA>,9.87,<NA>,<NA>,236,208,<NA>,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0

In [42]:
for df_chunk in df_iter:
    print(len(df_chunk))

In [55]:
TABLE = "yellow_taxi_data"
READ_CHUNK_SIZE = 100_000
WRITE_CHUNK_SIZE = 10_000

In [56]:
def make_df_iter():
    return pd.read_csv(
        url,
        dtype=dtype,
        parse_dates=parse_dates,
        chunksize=READ_CHUNK_SIZE
    )

In [57]:
df_iter = make_df_iter()
first_chunk = next(df_iter)
print(len(first_chunk))
display(first_chunk.head(3))

100000

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.2,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.7,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0

In [58]:
df_iter = make_df_iter()

In [60]:
from tqdm.auto import tqdm

TABLE = "yellow_taxi_data"
READ_CHUNK = 100_000
WRITE_CHUNK = 2_000  # <-- lower this

df_iter = make_df_iter()  # recreate iterator

with engine.begin() as conn:
    for i, df_chunk in enumerate(tqdm(df_iter, desc="Writing"), start=1):
        df_chunk.to_sql(
            name=TABLE,
            con=conn,
            if_exists="append",
            index=False,
            method="multi",
            chunksize=WRITE_CHUNK
        )

Writing: 0it [00:00, ?it/s]